body { max-width: 20cm; background: #E8FFE8;}
.info { background: #E8E8E8; padding: .5cm; margin: .25cm; }
ol { margin: 0; }
ol li { margin: 6pt 0 0 0.25cm; }
ul { margin: 0; }
ul li { margin: 6pt 0 0 0.25cm; }

